doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    // Viewport metatags
    meta(name="HandheldFriendly", content="true")
    meta(name="MobileOptimized", content="320")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet", type="text/css", href="/css/404.css", media="screen")
    title 404错误页面
  body
    // Main Wrapper. Set this to 'fixed' for fixed layout and 'fluid' for fluid layout'
    #da-wrapper.fluid
      // Content
      #da-content
        // Container
        .da-container.clearfix
          #da-error-wrapper
            #da-error-pin
            |                     
            #da-error-code
              | error 
              span 404
            |                 
            |                 	                     
            p
              a(href="/", target="_blank") 返回主页
  
