extends ../layout

block content
  .container
    .row
      table.table.table-hover.table-bordered
        thead
          tr
            th Name
            th School
            th Blog
            th GitHub
        tbody
          each item in data
            tr
              td #{item.name}
              td #{item.school}
              td #{item.blog}
              td #{item.github}
